p {
    font-size: 17px;
    margin-right: 100px;
    color: orange;
}
h1 {
    margin-left: 500px;
    color: burlywood;
}
h2 {
    margin-right: 100px;
    color: red;
}
/* Images */
img { 
    height: 200px;
    width: 200px;
} 
